In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Collecting numpy<2,>=1.22.4 (from pandas)
  Downloading numpy-1.26.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.0/61.0 kB 1.8 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/null/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/null/anaconda3/envs/tiktok_scrape/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 23.0 MB/s eta 0:00:0000:0100:01
Downloading numpy-1.26.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.2/18.2 MB 21.1 MB/s eta 0:00:0000:0100:01
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 15.3 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 19.0 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.0 pytz-2024.1 tzdata-2024.1

In [7]:
import pandas as pd
import json

In [8]:
download = json.load(open("download.json"))
df = pd.DataFrame(download["data"])

In [9]:
df.head()

,type,item,common
0,1,"{'id': '7292348470306934022', 'desc': '#ballet...",{'doc_id_str': '7292348470306934022'}
1,1,"{'id': '7318605787025149230', 'desc': 'eastern...",{'doc_id_str': '7318605787025149230'}
2,1,"{'id': '7148076938735766789', 'desc': 'russia ...",{'doc_id_str': '7148076938735766789'}
3,1,"{'id': '7335635534443842858', 'desc': 'The one...",{'doc_id_str': '7335635534443842858'}
4,1,"{'id': '7148644302850362670', 'desc': 'You won...",{'doc_id_str': '7148644302850362670'}

In [10]:
df

,type,item,common
0,1,"{'id': '7292348470306934022', 'desc': '#ballet...",{'doc_id_str': '7292348470306934022'}
1,1,"{'id': '7318605787025149230', 'desc': 'eastern...",{'doc_id_str': '7318605787025149230'}
2,1,"{'id': '7148076938735766789', 'desc': 'russia ...",{'doc_id_str': '7148076938735766789'}
3,1,"{'id': '7335635534443842858', 'desc': 'The one...",{'doc_id_str': '7335635534443842858'}
4,1,"{'id': '7148644302850362670', 'desc': 'You won...",{'doc_id_str': '7148644302850362670'}
5,1,"{'id': '7051242511368490241', 'desc': 'I love ...",{'doc_id_str': '7051242511368490241'}
6,1,"{'id': '7310994651509443872', 'desc': '#russia...",{'doc_id_str': '7310994651509443872'}
7,1,"{'id': '6916327963428457734', 'desc': 'I’m exp...",{'doc_id_str': '6916327963428457734'}
8,1,"{'id': '7334282500442836229', 'desc': 'Saint P...",{'doc_id_str': '7334282500442836229'}
9,1,"{'id': '7167089940206062854', 'desc': 'For rus...",{'doc_id_str': '7167089940206062854'}
10,1,"{'id': '7335662639793818926', 'desc': 'Does yo...",{'doc_id_str': '7335662639793818926'}

In [17]:
df["item"]

KeyError: 11

In [18]:
download = json.load(open("download_0.json"))
df = pd.DataFrame(download["data"])
df

,type,item,common
0,1,"{'id': '7192919124706659589', 'desc': 'Comunis...",{'doc_id_str': '7192919124706659589'}
1,1,"{'id': '7223842682949356805', 'desc': '#россия...",{'doc_id_str': '7223842682949356805'}
2,1,"{'id': '7294729242741329159', 'desc': 'Don’t g...",{'doc_id_str': '7294729242741329159'}
3,1,"{'id': '7335817256913341726', 'desc': 'U.S. in...",{'doc_id_str': '7335817256913341726'}
4,1,"{'id': '6911248682801204481', 'desc': 'Welcome...",{'doc_id_str': '6911248682801204481'}
5,1,"{'id': '7336213026959412523', 'desc': 'In the ...",{'doc_id_str': '7336213026959412523'}
6,1,"{'id': '7338156802246217003', 'desc': 'Why #Ki...",{'doc_id_str': '7338156802246217003'}
7,1,"{'id': '7297706875859045665', 'desc': 'I can s...",{'doc_id_str': '7297706875859045665'}
8,1,"{'id': '7086314363040189723', 'desc': '#presid...",{'doc_id_str': '7086314363040189723'}
9,1,"{'id': '7230829431424683269', 'desc': 'Latest ...",{'doc_id_str': '7230829431424683269'}

In [19]:
download = json.load(open("download_1.json"))
df = pd.DataFrame(download["data"])
df

,type,item,common,user_list,has_top_user,view_more,card_title
0,1,"{'id': '7241663406909050139', 'desc': 'POV: Yo...",{'doc_id_str': '7241663406909050139'},NaN,NaN,NaN,NaN
1,1,"{'id': '7338083499955588398', 'desc': 'On a Fo...",{'doc_id_str': '7338083499955588398'},NaN,NaN,NaN,NaN
2,1,"{'id': '7336324957070183726', 'desc': 'Russian...",{'doc_id_str': '7336324957070183726'},NaN,NaN,NaN,NaN
3,1,"{'id': '7268566007214591237', 'desc': 'Para pe...",{'doc_id_str': '7268566007214591237'},NaN,NaN,NaN,NaN
4,1,"{'id': '7214806290856463621', 'desc': 'New rus...",{'doc_id_str': '7214806290856463621'},NaN,NaN,NaN,NaN
5,1,"{'id': '7126967448921820422', 'desc': '#fyp', ...",{'doc_id_str': '7126967448921820422'},NaN,NaN,NaN,NaN
6,1,"{'id': '7226410541047139610', 'desc': '😮‍💨😮‍💨 ...",{'doc_id_str': '7226410541047139610'},NaN,NaN,NaN,NaN
7,1,"{'id': '7253039421442755883', 'desc': 'WHAT di...",{'doc_id_str': '7253039421442755883'},NaN,NaN,NaN,NaN
8,4,NaN,{'doc_id_str': '1'},"[{'user_info': {'uid': '90259221241303040', 'n...",0.0,True,Users
9,1,"{'id': '7207240021139606830', 'desc': 'crazy😳 ...",{'doc_id_str': '7207240021139606830'},NaN,NaN,NaN,NaN
10,1,"{'id': '7318605787025149230', 'desc': 'eastern...",{'doc_id_str': '7318605787025149230'},NaN,NaN,NaN,NaN
11,1,"{'id': '7312843497072119046', 'desc': '🇷🇺 #rus...",{'doc_id_str': '7312843497072119046'},NaN,NaN,NaN,NaN
12,1,"{'id': '7338148679309806894', 'desc': 'Replyin...",{'doc_id_str': '7338148679309806894'},NaN,NaN,NaN,NaN

In [20]:
download = json.load(open("download_2.json"))
df = pd.DataFrame(download["data"])
df

,type,item,common
0,1,"{'id': '7148644302850362670', 'desc': 'You won...",{'doc_id_str': '7148644302850362670'}
1,1,"{'id': '7214686390032911658', 'desc': '#russia...",{'doc_id_str': '7214686390032911658'}
2,1,"{'id': '7051242511368490241', 'desc': 'I love ...",{'doc_id_str': '7051242511368490241'}
3,1,"{'id': '7299083539893488942', 'desc': 'GUESS W...",{'doc_id_str': '7299083539893488942'}
4,1,"{'id': '7148076938735766789', 'desc': 'russia ...",{'doc_id_str': '7148076938735766789'}
5,1,"{'id': '7239744836306357531', 'desc': '2 sides...",{'doc_id_str': '7239744836306357531'}
6,1,"{'id': '7335635534443842858', 'desc': 'The one...",{'doc_id_str': '7335635534443842858'}
7,1,"{'id': '7186870661875502382', 'desc': '#russia...",{'doc_id_str': '7186870661875502382'}
8,1,"{'id': '7219451680281070894', 'desc': 'Most be...",{'doc_id_str': '7219451680281070894'}
9,1,"{'id': '6916327963428457734', 'desc': 'I’m exp...",{'doc_id_str': '6916327963428457734'}